/* CHAT */
#chat-container {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
    border-bottom: 1px solid #ccc;
}

#input-container {
    display: flex;
    padding: 10px;
    border-top: 1px solid #ccc;
}

#input-container input {
    flex: 1;
    padding: 10px;
    font-size: 16px;
}

#input-container button {
    padding: 10px;
    font-size: 16px;
}

.message {
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    background: #f1f1f1;
}

.message.me {
    background: #c1e1c5;
    align-self: flex-end;
}