/* ----------------------------------*/
/*|        Author: S4M-N0V          |*/
/*| Git: https://github.com/s4mn0v  |*/
/* ----------------------------------*/

/* IMPORTATIONS */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('./module.css');

:root {
    /* Colors */
    --color-white: #fff;
    --color-orange: #F8861E;
    --color-blackground: #040506;
    --color-light-blackground: #1f1f1f;
    /* Font From Google Fonts*/
    --main-font: "Quicksand", sans-serif;
}

/* BODY */
body {
    margin: 0;
    font-family: var(--main-font);
    font-weight: 500;
    line-height: 1.8em;
}

/* NAVBAR */

nav {
    width: 100%;
    display: inline-flex;
    align-items: center;
    margin-bottom: 1.5em;
    padding-bottom: 1.5em;
    border-bottom: 2px solid var(--color-orange);
}

nav>img {
    margin-right: 10px;
}

/* ACTIVE MENU ITEMS */
.active-page {
    background-color: var(--color-blackground) !important;
    box-shadow: 0 0 2px 2px var(--color-orange) !important;
}

/* SIDE BAR */

.container {
    display: flex;
    height: 100vh;
    flex-wrap: wrap;
}

.sidebar {
    width: 500px;
    background-color: var(--color-blackground);
    border-right: 3px solid #F8861E;
    color: #fff;
    padding: 15px;
    box-sizing: border-box;
    transition: width 0.3s ease;
    font-weight: 400;
    line-height: 4dvh;
}

.hidden {
    display: none;
}

.sidebar h2 {
    margin-top: 0;
}

.sidebar .menu-items {
    list-style: none;
    padding: 0;
}

.sidebar .menu-items .menu-item {
    display: inline;
    margin: 10px 0px;
    background-color: var(--color-light-blackground);
    padding: 7px 0px;
    color: #ffffff;
    font-weight: bold;
    transition: background 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 0 5px 0px var(--color-blackground);
}

.sidebar .menu-items .menu-item:hover {
    background-color: var(--color-blackground);
    box-shadow: 0 0 2px 2px var(--color-orange);
    cursor: pointer;
}

.sidebar .menu-items .menu-item a {
    color: #fff;
    text-decoration: none;
    padding: 5px 20px;
}

/* APP Contents */
.content {
    flex-grow: 1;
    box-sizing: border-box;
}

.content-2 {
    /* width: -webkit-fill-available; */
    padding: 3em;
    flex: 1;
}

/* RESPONSIVE VIDEO */
.youtube-video {
    aspect-ratio: 16 / 9;
    width: 100%;
}

.web-view {
    width: 100%;
    height: 500px;
    border: 4px solid var(--color-orange);
}

webview {
    width: 100%;
    height: 100%;
}

/* SCROLL BAR */
/* width */
::-webkit-scrollbar {
    width: 6px;
    background: var(--color-orange);
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--color-orange);
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--color-blackground);
}

/* ADVERTISMEN */
.advertismen {
    /* font-size: 0.9em; */
    font-weight: 700;
    color: var(--color-orange);
}